/* HTML -- Body */
html, body {
    touch-action: pan-y;
    overflow: hidden;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-color: #8bb4ff;
}

/* Loader */
#loadingDiv {
    z-index: 200;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #8bb4ff; /* Old browsers */
    background: -moz-linear-gradient(top, #8bb4ff 0%,#ff60f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8bb4ff 0%,#ff60f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8bb4ff 0%,#ff60f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB7BA2', endColorstr='#FCE043',GradientType=0 ); /* IE6-9 */
    /* border: 25px solid rgb(255, 255, 255); */
}

#loadingText {
    position: absolute;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: x-small;

    width: 100%;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    letter-spacing: 0.3rem;
    /* animation: animText  6s ease infinite alternate; */
}

.loader {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}
.loader::after {
    animation-delay: 1s;
}
  
@keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
}

/* BJS Render Canvas */
#renderCanvas {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

#customBT {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: white;
    font-size: small;
    border-radius: 5px;
    padding: 10px 30px;
}

#info-text-container {
    z-index: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
}

#info-text {
    font-size: medium;
}